@import url('./reset.css');



body {
    font-family: 'Montserrat', sans-serif;
}

.body.active_form {
    overflow: hidden;
}

.active_form_filter {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 10;
}

.active_form_filter.active_filter {
    opacity: 1;
    visibility: visible;
}

.header {
    background-color: #121517;
}

.container {
    width: 1294px;
    margin: 0 auto;
    padding: 20px 0;
}

.sub_navigation{
    display: flex;
    align-items: center;
}

.sub_navigation li:first-child {
    font-weight: 800;
    font-size: 37px;
    background: linear-gradient(90deg, rgba(35, 114, 73, 1), rgba(53, 198, 107, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub_navigation li:nth-child(n+2) {
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-left: 100px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sub_navigation a {
    text-decoration: none;
    color: inherit;
}

.main {
    background-color: #121517;
}

.main_content_first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_main_content_first h1 {
    font-weight: 800;
    font-size: 80px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}

.title_star_bucks_green {
    background: linear-gradient(90deg, rgba(35, 114, 73, 1), rgba(53, 198, 107, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub_main_content_first p {
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.sub_main_content_first_button {
    margin: 50px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.sub_main_content_button_coffee {
    width: 300px;
    height: 65px;
    background: linear-gradient(90deg, rgba(35,114,73,1), rgba(53,198,107,1), rgba(35,114,73,1));
    background-size: 200% 100%;
    background-position: 0% 0%;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    color: rgba(255,255,255,1);
    cursor: pointer;
    margin-right: 20px;
    transition: background-position 0.6s ease;
}

.sub_main_content_button_more {
    width: 150px;
    height: 65px;
    background-color: rgba(18, 21, 23, 1);
    border: 1px solid rgba(218, 218, 218, 0.35);
    border-radius: 30px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: all 0.6s ease;
}

.menu_form {
    position: absolute;
    background-color: #31393e;
    max-width: 600px;
    border-radius: 15px;
    top: -286px;
    left: 486px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 20;
}

.menu_form.active_menu_form  {
    top: -343px;
    left: 486px;
    opacity: 1;
    visibility: visible;
}

.dropdown_menu {
    text-align: center;
    padding: 50px;
    position: relative;
}

.dropdown_menu_form:not(:last-child) {
    margin-bottom: 20px;
}

.close_button {
    width: 40px;
    height: 30px;
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 25;
}

.menu_form.active_menu_form .close_button {
    opacity: 1;
    visibility: visible;
    top: 10px;
    left: 267px;
}

.close_button::before{
    content: "";
    width: 100%;
    height: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: 13px;
    background: #121517;
}

.close_button::after{
    content: "";
    width: 100%;
    height: 3px;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 14px;
    background: #121517;
}

.dropdown_menu_form_input {
    border:  1px solid rgba(53, 198, 107, 1);
    outline: none;
    border-radius: 15px;
    padding: 15px 30px;
    resize: none;
}

.dropdown_menu_form_input:focus {
    outline: rgba(53, 198, 107, 1) 1.5px solid;
}

.form_btn {
    background: linear-gradient(90deg, rgba(35,114,73,1), rgba(53,198,107,1), rgba(35,114,73,1));
    background-size: 200% 100%;
    background-position: 0% 0%;
    padding: 15px 30px;
    outline: 0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(255,255,255,1);
}

.form_btn:active {
    background-color: rgba(53, 198, 107, 1);
}

.form_btn:focus {
    outline: rgba(53, 198, 107, 1) 1.5px solid;
}

.sub_main_content_first_users {
    display: flex;
}

.sub_main_content_first_users p:first-child {
    font-weight: 400;
    font-size: 62px;
    color: rgba(217, 217, 217, 1);
}

.plus {
    color: rgba(35, 114, 73, 1);
}

.sub_main_content_first_users p:nth-child(n+2) {
    font-weight: 400;
    font-size: 20px;
    color: rgba(217, 217, 217, 1);
    margin: 10px 0;
}

.sub_main_content_first_users li:nth-child(n+2) {
    margin-left: 60px;
}

.sub_main_content_first_image img {
    width: 450px;
    height: auto;
    filter: drop-shadow(0 -8px 16px rgba(35, 114, 73, 0.55)) drop-shadow(0 8px 16px rgba(35, 114, 73, 0.55));
}

.main_content_second {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(229, 229, 229, 1),rgba(251, 251, 251, 1));
    margin-top: 60px;
    padding: 35px 75px;
    position: relative;
    border-radius: 46px;
}

.main_content_second_flag1 {
    width: 80px;
    height: 75px;
    box-sizing: content-box;
    padding-top: 15px;
    position: absolute;
    background: rgba(53,198,107,1);
    top: 0;
    left: 0;
}

.main_content_second_flag2 {
    width: 80px;
    height: 75px;
    box-sizing: content-box;
    padding-top: 15px;
    position: absolute;
    background: rgba(53,198,107,1);
    top: 0;
    right: 0;
}

.main_content_second_flag1::after,
.main_content_second_flag2::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 13px solid #ffffff;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.sub_main_content_second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub_main_content_second_items {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub_main_content_second_items::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(53,198,107,1);
}

.sub_main_content_second_items li,
.sub_main_content_second_items img,
.sub_main_content_second_items h2,
.sub_main_content_second_items p {
    position: relative;
    z-index: 1;
}

.sub_main_content_second_items h2 {
    font-weight: 500;
    font-size: 34px;
    color: rgba(18, 21, 23, 1);
    padding-bottom: 20px;
}

.we_make_delicious {
    background-color: #121517;
    padding-top: 100px;
}

.sub_we_make_delicious_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.make_delicious_content {
    position: relative;
}

.make_delicious_content img {
    border-top-right-radius: 40%;
    position: absolute;
    filter: drop-shadow(0 -8px 16px rgba(35, 114, 73, 0.35)) drop-shadow(0 8px 16px rgba(35, 114, 73, 0.35));
    top: -25px;
    left: 25px;
    transition: all 0.3s ease;
}

.make_delicious_content_photo {
    width: 465px;
    height: 665px;
    background-color: rgba(35, 114, 73, 1);
    border-top-right-radius: 40%;
}

.cooking_process_content h3 {
    font-weight: 800;
    font-size: 80px;
    color: rgba(255, 255, 255, 1);
}

.cooking_process_content p {
    font-weight: 400;
    font-size: 20px;
    color: rgba(217, 217, 217, 1);
    margin: 35px 0;
    line-height: 160%;
}

.cooking_process_content a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.new_our_products {
    background-color: #121517;
    padding-top: 100px;
}

.new_our_products_content_title {
    display: flex;
    align-items: center;
    justify-content: start;
}

.new_our_products_content_title h4 {
    font-weight: 800;
    font-size: 80px;
    color: rgba(255, 255, 255, 1);
    margin-right: 70px;
}

.new_our_products_content_title p:first-child {
    font-weight: 400;
    font-size: 20px;
    color: rgba(217, 217, 217, 1);
    line-height: 160%;
}

.block_new_our_products_coffee {
    display: flex;
    align-items: center;
    justify-content: start;
}

.new_our_products_coffee {
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    max-width: 950px;
    overflow-x: hidden;
    scroll-snap-type:  x mandatory;
}

.new_our_products_coffee_cappuccino,
.new_our_products_coffee_latte,
.new_our_products_coffee_espresso,
.new_our_products_coffee_americano {
    scroll-snap-align: center;
}


.new_our_products_coffee_latte {
    margin: 0 55px;
}
.new_our_products_coffee_americano {
    margin-left: 55px;
}

.sub_new_our_products_coffee_cappuccino,
.sub_new_our_products_coffee_latte,
.sub_new_our_products_coffee_espresso,
.sub_new_our_products_coffee_americano {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sub_new_our_products_coffee_cappuccino li,
.sub_new_our_products_coffee_cappuccino img,
.sub_new_our_products_coffee_cappuccino h4,
.sub_new_our_products_coffee_cappuccino p
.sub_new_our_products_coffee_cappuccino button {
    position: relative;
    z-index: 1;
}

.sub_new_our_products_coffee_latte li,
.sub_new_our_products_coffee_latte img,
.sub_new_our_products_coffee_latte h4,
.sub_new_our_products_coffee_latte p
.sub_new_our_products_coffee_latte button {
    position: relative;
    z-index: 1;
}

.sub_new_our_products_coffee_espresso li,
.sub_new_our_products_coffee_espresso img,
.sub_new_our_products_coffee_espresso h4,
.sub_new_our_products_coffee_espresso p
.sub_new_our_products_coffee_espresso button {
    position: relative;
    z-index: 1;
}

.sub_new_our_products_coffee_americano li,
.sub_new_our_products_coffee_americano img,
.sub_new_our_products_coffee_americano h4,
.sub_new_our_products_coffee_americano p
.sub_new_our_products_coffee_americano button {
    position: relative;
    z-index: 1;
}

.sub_new_our_products_coffee_cappuccino::before,
.sub_new_our_products_coffee_latte::before,
.sub_new_our_products_coffee_espresso::before,
.sub_new_our_products_coffee_americano::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 64px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(53,198,107,0.3);
}

.sub_new_our_products_coffee_cappuccino,
.sub_new_our_products_coffee_latte,
.sub_new_our_products_coffee_espresso,
.sub_new_our_products_coffee_americano {
    padding: 30px;
    border: 1px solid rgba(218, 218, 218, 0.3);
    border-radius: 30px;
}

.sub_new_our_products_coffee_cappuccino h4,
.sub_new_our_products_coffee_latte h4,
.sub_new_our_products_coffee_espresso h4,
.sub_new_our_products_coffee_americano h4 {
    font-weight: 500;
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

.sub_new_our_products_coffee_cappuccino p,
.sub_new_our_products_coffee_latte p,
.sub_new_our_products_coffee_espresso p,
.sub_new_our_products_coffee_americano p  {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(217, 217, 217, 1);
}

.sub_new_our_products_coffee_cappuccino span,
.sub_new_our_products_coffee_latte span,
.sub_new_our_products_coffee_espresso span,
.sub_new_our_products_coffee_americano span {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: rgba(255, 255, 255, 1);
    margin-right: 20px;
}

.sub_new_our_products_coffee_cappuccino button,
.sub_new_our_products_coffee_latte button,
.sub_new_our_products_coffee_espresso button,
.sub_new_our_products_coffee_americano button {
    margin-top: 30px;
    padding: 15px 38px;
    background: linear-gradient(90deg, rgba(35,114,73,1), rgba(53,198,107,1), rgba(35,114,73,1));
    border:  none;
    border-radius: 60px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.new_our_products_coffee_btn {
    margin-left: 100px;
}

.forward_our_products_coffee_btn {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(35, 114, 73, 1);
    margin-left: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

.forward_our_products_coffee_btn div {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 20px solid rgba(255, 255, 255, 1);
    border-bottom: 10px solid transparent;
}

.back_our_products_coffee_btn {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(35, 114, 73, 1);
    margin-left: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back_our_products_coffee_btn div {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 20px solid rgba(255, 255, 255, 1);
    border-bottom: 10px solid transparent;
}

.our_new_events {
    background-color: #121517;
    padding-top: 100px;
    padding-bottom: 80px;
}

.our_new_events_content_title {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 55px;
}

.our_new_events_content_title p {
    font-weight: 400;
    font-size: 20px;
    color: rgba(217, 217, 217, 1);
    line-height: 160%;
    margin-right: 70px;
}

.our_new_events_content_title h5 {
    font-weight: 800;
    font-size: 80px;
    color: rgba(255, 255, 255, 1);
}

.our_new_events_content_description_first,
.our_new_events_content_description_second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our_new_events_content_description_first_items1 {
    width: 525px;
    height: 170px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/photonewevents1.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    padding: 45px 35px;
}

.our_new_events_content_description_first_items2 {
    width: 525px;
    height: 170px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/photonewevents2.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    padding: 45px 35px;
}

.our_new_events_content_description_first_items1 h5,
.our_new_events_content_description_first_items2 h5,
.our_new_events_content_description_second_items1 h5,
.our_new_events_content_description_second_items2 h5,
.our_new_events_content_description_second_items3 h5 {
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 32px;
}

.our_new_events_content_description_first_items1 button,
.our_new_events_content_description_first_items2 button,
.our_new_events_content_description_second_items1 button,
.our_new_events_content_description_second_items2 button,
.our_new_events_content_description_second_items3 button {
    padding: 20px 50px;
    border-radius: 80px;
    border: none;
    background: linear-gradient(90deg, rgba(35,114,73,1), rgba(53,198,107,1), rgba(35,114,73,1));
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 24px;
}

.our_new_events_content_description_second {
    margin-top: 25px;
}

.our_new_events_content_description_second_items1 {
    width: 325px;
    height: 170px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/photonewevents3.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    padding: 45px 35px;
}

.our_new_events_content_description_second_items2 {
    width: 325px;
    height: 170px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/photonewevents4.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    padding: 45px 35px;
}

.our_new_events_content_description_second_items3 {
    width: 325px;
    height: 170px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/photonewevents1.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    padding: 45px 35px;
}

.our_contacts {
    background-color: #121517;
    padding-bottom: 100px;
}

.our_contacts_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our_contacts_content_title h6 {
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    font-size: 80px;
}

.our_contacts_content_title p {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    color: rgba(217, 217, 217, 1);
    line-height: 160%;
    margin-right: 70px;
}

.our_contacts_content_title a:first-child {
    margin-bottom: 30px;
}

.our_contacts_content_title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 32px;
}

.our_contacts_content_title img {
    margin-right: 20px;
    transition: all 0.6s ease;
}

.our_contacts_content_image {
    position: relative;
}

.our_contacts_content_image img {
    border-top-left-radius: 40%;
    position: absolute;
    filter: drop-shadow(0 -8px 16px rgba(35, 114, 73, 0.35)) drop-shadow(0 8px 16px rgba(35, 114, 73, 0.35));
    top: -25px;
    left: -25px;
    transition: all 0.3s ease;
}

.our_contacts_content_image {
    width: 350px;
    height: 525px;
    background-color: rgba(35, 114, 73, 1);
    border-top-left-radius: 40%;
}

.footer {
    background-color: rgba(11, 12, 13, 1);
    padding: 50px 0;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_content a {
    background: linear-gradient(90deg, rgba(35, 114, 73, 1), rgba(53, 198, 107, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 37px;
    text-decoration: none;
}

.footer_content_dscrp {
    color: rgba(187, 179, 179, 1);
    font-weight: 400;
    font-size: 20px;
}

.footer_content_dscrp li:nth-child(n+2){
    margin-top: 15px;
}

.footer_special_btn {
    align-self: flex-start;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(35, 114, 73, 1);
    margin-left: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer_special_btn div {
    width: 0px;
    height: 0px;
    border-left: 11px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 20px solid rgba(255, 255, 255, 1);
}

@media (hover: hover) {
    .sub_navigation li:nth-child(n+2):hover {
        color: rgba(53, 198, 107, 1);
    }
    .sub_main_content_button_coffee:hover {
        background-position: 100% 0%;
    }
    .sub_main_content_button_more:hover {
        background-color: rgba(38, 41, 42, 0.35);
        color: rgba(255, 255, 255, 0.5);
    }
    .form_btn:hover {
        background-position: 100% 0%;
    }
    .cooking_process_content a:hover {
        filter: drop-shadow(0 -8px 16px rgba(35, 114, 73, 0.55)) drop-shadow(0 8px 16px rgba(35, 114, 73, 0.55));
    }
    .forward_our_products_coffee_btn:hover,
    .back_our_products_coffee_btn:hover {
        background: rgba(35, 114, 73, 0.8);
    }
    .our_contacts_content_title a img:hover {
        transform: rotate(360deg);
        filter: grayscale(100%);
    }
    .footer_special_btn:hover {
        background-color: rgba(35, 114, 73, 1);
    }
}